/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #4c65af;
    color: white;
    text-align: left;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.counter {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
}

/* Section styles */
section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

section:target {
    display: block;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h2 {
    color: #4c65af;
}

#visitor-counter p {
    font-size: 20px;
    font-weight: bold;
}

/* Work experience list styling */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

strong {
    color: #333;
}
